// COLORS

$clr-white: #ffffff;
$clr-gray: #999999;
$clr-dark-gray: #2e3038;
$clr-black: #0a0a0b;
$clr-yellow: #fbe850;

// BREAKPOINTS
$bp-large: 56.25em; // 900px
$bp-tablet: 46.875em; // 750px
$bp-medium: 34.375em; // 550px
