// COLORS

$clr-blue: #3180f5;
$clr-blue-green: #1f7898;
$clr-blue-light: #d7f5f5;
$clr-twitter: #1da1f2;

$clr-light-yellow: #fbf8f3;
$clr-orange: #ffad23;

$clr-white: #ffffff;
$clr-grey: #595959;
$clr-grey-light: #c4c4c4;
$clr-black: #000000;

// BREAKPOINTS
$bp-large: 56.25em; // 900px
$bp-tablet: 46.875em; // 750px
$bp-medium: 34.375em; // 550px
