*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

html {
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem; }

.heading-primary {
  font-size: 5.2rem;
  color: #1d1b67; }

.heading-secondary {
  font-size: 3.6rem; }
  .heading-secondary--dark {
    color: #1d1b67; }
  .heading-secondary--light {
    color: #005661; }

.paragraph {
  color: #425466;
  line-height: 1.6;
  width: 75%; }
  .paragraph--pricing {
    max-width: 35%;
    margin: 0 auto; }

.label {
  display: block;
  font-weight: 700;
  color: #3b60bf; }

.u-container {
  max-width: 120rem;
  margin: 0 auto; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-xs {
  margin-bottom: 0.6; }

.u-margin-bottom-sm {
  margin-bottom: 1.2rem; }

.u-margin-bottom-md {
  margin-bottom: 2.4rem; }

.btn--solid:link, .btn--solid:visited {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  color: #fff;
  background-color: #1d1b67;
  transition: background-color 0.3s ease; }

.btn--solid:hover, .btn--solid:active {
  background-color: #28268f; }

.btn--link:link, .btn--link:visited {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  color: #425466;
  transition: all 0.3s ease; }

.btn--link:hover, .btn--link:active {
  color: #fff;
  background-color: #1d1b67; }

.btn--submit {
  font-weight: 600;
  font-size: inherit;
  color: #fff;
  background-color: #1d1b67;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer; }
  .btn--submit:hover {
    background-color: #28268f;
    transition: background-color 0.3s ease; }

.btn--toggle {
  height: 3rem;
  width: 5rem;
  border: none;
  border-radius: 100px;
  background-color: #1d1b67;
  cursor: pointer; }
  .btn--toggle::before {
    content: "";
    display: block;
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(0.5rem); }

.footer {
  padding: 8.4rem 2rem 4.8rem 2rem; }
  .footer__logo {
    margin-bottom: 1.6rem; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__links {
    display: flex;
    flex: 0 0 50%; }
  .footer__nav {
    flex: 0 0 33%; }
    .footer__nav__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .footer__nav__item--title {
      font-weight: 600; }
    .footer__nav__link:link, .footer__nav__link:visited {
      color: #425466;
      text-decoration: none;
      padding-bottom: 0.5rem;
      background-image: linear-gradient(to right, #1d1b67, #1d1b67);
      background-repeat: no-repeat;
      background-size: 0 0;
      background-position: bottom center;
      transition: all 0.3s ease; }
    .footer__nav__link:hover, .footer__nav__link:active {
      color: #1d1b67;
      background-size: 50% 2px; }

.form__label {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem; }

.form__group {
  padding: 0.5rem;
  border: 1px solid #425466;
  border-radius: 6px; }

.form__input {
  font-family: inherit;
  padding: 0 1rem;
  border: none; }
  .form__input:focus {
    outline: none; }

.header {
  padding: 4rem 2rem; }
  .header--home {
    background-image: linear-gradient(to right, #fff 50%, #46ccde 50%); }
  .header__branding {
    display: flex;
    align-items: center;
    gap: 3.2rem; }
  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem; }

.navigation__link:link, .navigation__link:visited {
  color: #425466;
  text-decoration: none;
  padding-bottom: 0.5rem;
  background-image: linear-gradient(to right, #1d1b67, #1d1b67);
  background-repeat: no-repeat;
  background-size: 0 0;
  background-position: bottom center;
  transition: all 0.3s ease; }

.navigation__link:hover, .navigation__link:active {
  color: #1d1b67;
  background-size: 50% 2px; }

.navigation__link--active:link, .navigation__link--active:visited {
  font-weight: 600;
  color: #1d1b67; }

.grid {
  display: grid; }
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 8.4rem; }
    .grid--2-cols--centered {
      align-items: center; }

.hero {
  padding: 4rem 2rem 16rem 2rem;
  background-image: linear-gradient(to right, #fff 50%, #46ccde 50%); }
  .hero__ctas {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.4rem; }
  .hero__message {
    display: flex;
    align-items: center;
    gap: 1.6rem; }
  .hero__link:link, .hero__link:visited {
    font-weight: 600;
    color: #425466;
    text-underline-offset: 0.4rem;
    transition: color 0.3s ease; }
  .hero__link:hover, .hero__link:active {
    color: #46ccde; }

.influential {
  padding: 8.4rem 2rem; }
  .influential__content-box, .influential__text-box {
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
  .influential__users {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; }
  .influential__img {
    height: 4rem;
    transition: transform 0.3s ease; }
    .influential__img:hover {
      transform: rotate(25deg) scale(1.2); }

.features {
  padding: 8.4rem 2rem;
  background-color: #cdf9ff; }

.pricing {
  padding: 6rem 2rem; }
  .pricing__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem; }
