*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

img {
  max-width: 100%;
  height: auto; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 31.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem; }

.heading-primary {
  font-size: 5.2rem;
  color: #1d1b67; }
  @media screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 4.8rem; } }

.heading-secondary {
  font-size: 3.6rem; }
  .heading-secondary--dark {
    color: #1d1b67; }
  .heading-secondary--light {
    color: #005661; }

.paragraph {
  color: #425466;
  line-height: 1.6;
  width: 75%; }

.label {
  display: block;
  font-weight: 700;
  color: #3b60bf; }

.u-container {
  max-width: 120rem;
  margin: 0 auto; }

.u-text-center {
  text-align: center; }

.u-w-100 {
  width: 100%; }

.u-margin-bottom-xs {
  margin-bottom: 0.6; }

.u-margin-bottom-sm {
  margin-bottom: 1.2rem; }

.u-margin-bottom-md {
  margin-bottom: 2.4rem; }

.u-margin-bottom-lg {
  margin-bottom: 7.2rem; }

.btn--solid:link, .btn--solid:visited {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  color: #fff;
  background-color: #1d1b67;
  transition: background-color 0.3s ease; }

.btn--solid:hover, .btn--solid:active {
  background-color: #28268f; }

.btn--link:link, .btn--link:visited {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  color: #425466;
  transition: all 0.3s ease; }

.btn--link:hover, .btn--link:active {
  color: #fff;
  background-color: #1d1b67; }

.btn--mobile {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1; }
  @media screen and (max-width: 25em) {
    .btn--mobile {
      display: block;
      position: fixed;
      right: 1rem;
      background-color: #fff;
      padding: 1rem;
      border-radius: 50%; } }

.btn--submit {
  font-weight: 600;
  font-size: inherit;
  color: #fff;
  background-color: #1d1b67;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer; }
  .btn--submit:hover {
    background-color: #28268f;
    transition: background-color 0.3s ease; }

.btn--toggle {
  height: 3rem;
  width: 5rem;
  border: none;
  border-radius: 100px;
  background-color: #3a84f7;
  cursor: pointer; }
  .btn--toggle::before {
    content: "";
    display: block;
    height: 2rem;
    width: 2rem;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(0.5rem); }

.pricing {
  color: #425466; }
  .pricing__card {
    text-align: left;
    padding: 2rem;
    border: 1px solid #cdcdcd;
    border-radius: 6px; }
  .pricing__price {
    font-size: 1.8rem;
    color: #cdcdcd;
    margin-bottom: 1.6rem; }
  .pricing__value {
    font-weight: 600;
    font-size: 3.2rem;
    color: #000; }
  .pricing__description {
    margin-bottom: 2.4rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #cdcdcd; }
  .pricing__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 3rem; }
  .pricing__item {
    display: flex;
    align-items: center;
    gap: 1.2rem; }

.footer {
  padding: 8.4rem 2rem 4.8rem 2rem; }
  @media screen and (max-width: 56.25em) {
    .footer {
      padding: 6rem 2rem 4rem 2rem; } }
  .footer__logo {
    margin-bottom: 1.6rem; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 56.25em) {
      .footer__content {
        flex-direction: column;
        align-items: flex-start;
        gap: 3.6rem; } }
  .footer__links {
    display: flex;
    flex: 0 0 50%; }
    @media screen and (max-width: 56.25em) {
      .footer__links {
        flex: 0 0 100%; } }
    @media screen and (max-width: 31.25em) {
      .footer__links {
        flex: 0 0 50%;
        flex-wrap: wrap;
        row-gap: 1.6rem; } }
  .footer__nav {
    flex: 0 0 33%; }
    @media screen and (max-width: 56.25em) {
      .footer__nav {
        flex: 0 0 70%; } }
    @media screen and (max-width: 31.25em) {
      .footer__nav {
        flex: 0 0 100%; } }
    .footer__nav__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .footer__nav__item--title {
      font-weight: 600; }
    .footer__nav__link:link, .footer__nav__link:visited {
      color: #425466;
      text-decoration: none;
      padding-bottom: 0.5rem;
      background-image: linear-gradient(to right, #1d1b67, #1d1b67);
      background-repeat: no-repeat;
      background-size: 0 0;
      background-position: bottom center;
      transition: all 0.3s ease; }
    .footer__nav__link:hover, .footer__nav__link:active {
      color: #1d1b67;
      background-size: 50% 2px; }

.form__label {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem; }

.form__group {
  padding: 0.5rem;
  border: 1px solid #425466;
  border-radius: 6px; }

.form__input {
  font-family: inherit;
  padding: 0 1rem;
  border: none; }
  .form__input:focus {
    outline: none; }

.header {
  padding: 4rem 2rem; }
  .header--home {
    background-image: linear-gradient(to right, #fff 50%, #46ccde 50%); }
    @media screen and (max-width: 43.75em) {
      .header--home {
        background-image: linear-gradient(to right, #fff, #fff); } }
  .header__content {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 25em) {
      .header__content {
        justify-content: space-between; } }
    .header__content.active .header__links {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      pointer-events: auto; }
  .header__brand {
    flex: 0 0 5%; }
    @media screen and (max-width: 43.75em) {
      .header__brand {
        flex: 0 0 10%; } }
  .header__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 95%;
    transition: all 0.3s; }
    @media screen and (max-width: 43.75em) {
      .header__links {
        flex: 0 0 90%; } }
    @media screen and (max-width: 25em) {
      .header__links {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.8);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        backdrop-filter: blur(10px);
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        pointer-events: none; } }

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem; }
  @media screen and (max-width: 25em) {
    .navigation__list {
      flex-direction: column;
      gap: 1.6rem; } }

.navigation__link:link, .navigation__link:visited {
  color: #425466;
  text-decoration: none;
  padding-bottom: 0.5rem;
  background-image: linear-gradient(to right, #1d1b67, #1d1b67);
  background-repeat: no-repeat;
  background-size: 0 0;
  background-position: bottom center;
  transition: all 0.3s ease; }

.navigation__link:hover, .navigation__link:active {
  color: #1d1b67;
  background-size: 50% 2px; }

.navigation__link--active:link, .navigation__link--active:visited {
  font-weight: 600;
  color: #1d1b67; }

.grid {
  display: grid; }
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 8.4rem; }
    .grid--2-cols--hero {
      align-items: center; }
      @media screen and (max-width: 43.75em) {
        .grid--2-cols--hero {
          grid-template-columns: 1fr;
          gap: 3.2rem; } }
    @media screen and (max-width: 56.25em) {
      .grid--2-cols--section {
        grid-template-columns: 1fr;
        gap: 3.2rem; } }
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.6rem;
    align-items: start; }
    @media screen and (max-width: 56.25em) {
      .grid--3-cols {
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch; } }
    @media screen and (max-width: 43.75em) {
      .grid--3-cols {
        grid-template-columns: 1fr; } }

.hero {
  padding: 4rem 2rem 16rem 2rem;
  background-image: linear-gradient(to right, #fff 50%, #46ccde 50%); }
  @media screen and (max-width: 56.25em) {
    .hero {
      padding: 4rem 2rem 7.2rem 2rem; } }
  @media screen and (max-width: 43.75em) {
    .hero {
      background-image: none;
      padding: 0; } }
  .hero__ctas {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.4rem; }
    @media screen and (max-width: 56.25em) {
      .hero__ctas {
        flex-direction: column;
        align-items: flex-start; } }
    @media screen and (max-width: 43.75em) {
      .hero__ctas {
        flex-direction: row; } }
  .hero__message {
    display: flex;
    align-items: center;
    gap: 1.6rem; }
    @media screen and (max-width: 56.25em) {
      .hero__message {
        align-items: flex-start; } }
  .hero__link:link, .hero__link:visited {
    font-weight: 600;
    color: #425466;
    text-underline-offset: 0.4rem;
    transition: color 0.3s ease; }
  .hero__link:hover, .hero__link:active {
    color: #46ccde; }
  .hero__text-box {
    padding: 0 2rem; }
  @media screen and (max-width: 43.75em) {
    .hero__img-box {
      background: #46ccde;
      padding: 6.4rem 2rem; } }

.influential {
  padding: 8.4rem 2rem; }
  @media screen and (max-width: 56.25em) {
    .influential {
      padding: 8.4rem 2rem 4rem 2rem; } }
  .influential__content-box, .influential__text-box {
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
  @media screen and (max-width: 56.25em) {
    .influential__content-box {
      flex-direction: row;
      align-items: flex-start; } }
  @media screen and (max-width: 43.75em) {
    .influential__content-box {
      flex-direction: column; } }
  .influential__users {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; }
  .influential__img {
    height: 4rem;
    transition: transform 0.3s ease; }
    .influential__img:hover {
      transform: rotate(25deg) scale(1.2); }

.features {
  padding: 8.4rem 2rem;
  background-color: #cdf9ff; }
  @media screen and (max-width: 56.25em) {
    .features {
      padding: 4rem 2rem; } }

.pricing {
  padding: 6rem 2rem; }
  .pricing__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem; }
  .pricing__label {
    color: #425466; }
    .pricing__label--active {
      font-weight: 700; }
  @media screen and (max-width: 56.25em) {
    .pricing__container > :last-child {
      grid-column: 1 / -1; } }
