*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

::selection {
  background-color: $clr-yellow;
  color: $clr-black;
}

html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: $clr-black;
  overflow-x: hidden;
}

img,
video,
svg,
picture {
  display: block;
  max-width: 100%;
}
