.btn {
  &--solid {
    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    color: $clr-off-white;
    width: 100%;
    background-color: $clr-primary;
    border: none;
    padding: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $clr-off-white;
      background-color: $clr-primary;
      padding: 1.5rem 2rem;
      border-radius: 4px;
      transition: background-color 0.3s;
      width: auto;
    }

    &:hover,
    &:active {
      background-color: lighten($clr-primary, 5%);
    }

    & span {
      font-weight: 600;
      color: $clr-white;
    }
  }

  &--mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 2;

    @media screen and (max-width: $bp-small) {
      display: block;
    }
  }
}
