.navigation {
  flex-grow: 1;

  &.active .navigation__list {
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $bp-tablet) {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 50vw;
      flex-direction: column;
      align-items: center;
      gap: 2.4rem;
      background-color: $clr-white;
      justify-content: center;

      transform: translateX(100%);
      pointer-events: none;
      visibility: hidden;
      transition: transform 0.3s ease;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $clr-gray;
      transition: color 0.3s ease;
    }

    &:hover,
    &:active {
      color: $clr-black;
    }

    &--profile {
      &:link,
      &:visited {
        font-weight: 600;
      }
    }
  }

  &__item {
    &--controls {
      display: flex;
      align-items: center;
      gap: 2.4rem;

      @media screen and (max-width: $bp-tablet) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
