.cta {
  &:link,
  &:visited {
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s;
  }

  &--transparent:link,
  &--transparent:visited {
    color: $dark-black;
  }

  &--transparent:hover,
  &--transparent:active,
  &--solid:link,
  &--solid:visited {
    color: $white;
    background-color: $dark-black;
  }

  &--solid:hover,
  &--solid:active {
    background: lighten($dark-black, 20%);
  }
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s;
  border: none;

  &--solid {
    font-size: inherit;
    color: $white;
    background-color: $dark-black;
  }

  &--solid:hover {
    background: lighten($dark-black, 20%);
  }
}
