.cta {
  &:link,
  &:visited {
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s;
  }

  &--transparent {
    &:link,
    &:visited {
      color: $dark-black;
    }

    &:hover,
    &:active {
      font-weight: 500;
      color: $white;
      background-color: $dark-black;
    }
  }

  &--solid {
    &:link,
    &:visited {
      font-weight: 500;
      color: $white;
      background-color: $dark-black;
    }
    &:hover,
    &:active {
      background: lighten($dark-black, 20%);
    }
  }

  &--underline {
    &:link,
    &:visited {
      font-weight: 600;
      color: $brown;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $medium-black;
    }
  }
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s;
  border: none;

  &--solid {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    color: $white;
    background-color: $dark-black;
  }

  &--solid:hover {
    background: lighten($dark-black, 20%);
  }
}
