html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

.heading-primary {
  font-size: 5.2rem;
  color: $clr-dark-blue;

  @media screen and (max-width: $bp-large) {
    font-size: 4.8rem;
  }
}

.heading-secondary {
  font-size: 3.6rem;

  &--dark {
    color: $clr-dark-blue;
  }

  &--light {
    color: $clr-teal;
  }
}

.paragraph {
  color: $clr-grey;
  line-height: 1.6;
  width: 75%;

  &--pricing {
    max-width: 35%;
    margin: 0 auto;
  }
}

.label {
  display: block;
  font-weight: 700;
  color: $clr-dark-blue-100;
}
