.u-container {
  max-width: 120rem;
  margin: 0 auto;
}

.u-text-center {
  text-align: center;
}

.u-w-100 {
  width: 100%;
}

.u-margin-bottom-xs {
  margin-bottom: 0.6;
}

.u-margin-bottom-sm {
  margin-bottom: 1.2rem;
}

.u-margin-bottom-md {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-lg {
  margin-bottom: 7.2rem;
}
