.navigation__cta {
  &:link,
  &:visited {
    color: $clr-white;
    background-color: $clr-primary;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-weight: 600;
    transition: background-color 0.3s;
    border-radius: 4px;
  }

  &:hover,
  &:active {
    background-color: lighten($clr-primary, 5%);
  }
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;

  &--solid {
    color: $clr-white;
    background-color: $clr-primary;

    &:hover {
      background-color: lighten($clr-primary, 5%);
    }
  }
}

.btn-nav {
  background-color: transparent;
  border: none;
  display: none;
  cursor: pointer;
  z-index: 2;

  @media screen and(max-width: $bp-large) {
    display: block;
  }
}
