.form {
  display: flex;
  gap: 1.2rem;

  @media screen and(max-width: $bp-large) {
    justify-content: center;
  }

  @media screen and(max-width: $bp-small) {
    flex-direction: column;
  }

  &__input {
    font-family: inherit;
    border: 1px solid $clr-light-gray;
    width: 50%;
    border-radius: 4px;
    padding: 1rem 2rem;

    @media screen and(max-width: $bp-small) {
      width: 100%;
    }

    &:focus {
      border: 1px solid $clr-primary;
      outline: none;
    }
  }
}
