.btn {
  &--solid {
    &:link,
    &:visited {
      font-family: "Prata", serif;
      text-decoration: none;
      color: $clr-black;
      background-color: $clr-yellow;
      display: inline-block;
      padding: 1rem;
      transition: background-color 0.3s ease;
    }

    &:hover,
    &:active {
      background-color: darken($clr-yellow, 10%);
    }
  }

  &--lg {
    &:link,
    &:visited {
      padding: 1.2rem 2.4rem;
    }
  }

  &--mobile {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    display: none;

    @media screen and (max-width: $bp-tablet) {
      display: block;
    }
  }
}
