.footer {
  background-color: $clr-dark-gray;
  padding: 2rem 0;

  &__content {
    @include flexCentered;
    justify-content: space-between;
  }

  &__brand {
    &:link,
    &:visited {
      font-family: "Prata", serif;
      font-size: 2rem;
      @include linkReset;
      transition: color 0.3s ease;
    }

    &:hover,
    &:active {
      color: $clr-white;
    }
  }

  &__list {
    list-style: none;
    @include flexCentered;
    gap: 1.6rem;
  }

  &__item {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
