.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;

  &__ctas,
  &__list {
    display: flex;
    gap: 1.6rem;

    @media screen and (max-width: $bp-small) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__ctas {
    align-items: center;

    @media screen and (max-width: $bp-small) {
      display: none;
      opacity: 0;
      background-color: rgba($clr-white, 0.7);
      backdrop-filter: blur(10px);
      position: absolute;
      height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      z-index: 1;
    }
  }

  &__list {
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      color: $clr-dark-gray;
      text-decoration: none;
      transition: color 0.3s;
    }

    &:hover,
    &:active {
      color: $clr-primary;
    }

    &--flexed {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      & span {
        display: block;
      }
    }
  }

  &__icon {
    border: 1px solid $clr-light-gray;
    background-color: $clr-off-white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
  }
}

.active .navigation__ctas {
  display: flex;
  opacity: 1;
}
