.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;

  &__ctas,
  &__list {
    display: flex;

    gap: 1.6rem;
  }

  &__ctas {
    align-items: center;
  }

  &__list {
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      color: $clr-dark-gray;
      text-decoration: none;
      transition: color 0.3s;
    }

    &:hover,
    &:active {
      color: $clr-primary;
    }

    &--flexed {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      & span {
        display: block;
      }
    }
  }

  &__icon {
    border: 1px solid $clr-light-gray;
    background-color: $clr-off-white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
  }
}
