// COLORS

$clr-primary: #664efc;

$clr-off-white: #f9f0fd;
$clr-white: #ffffff;

$clr-black: #000000;

$clr-dark-gray: #201f1f;
$clr-medium-gray: #6b6b6b;
$clr-light-gray: #bdbcbc;
$clr-lighter-gray: #fdf7fb;

$clr-light-yellow: #fdfcf9;
$clr-pink: #eed0f4;
$clr-light-pink: #f8ecf9;
