.btn {
  &--solid {
    &:link,
    &:visited {
      display: inline-block;
      font-weight: 600;
      text-decoration: none;
      color: $clr-white;
      background-color: $clr-dark-blue;
      padding: 1.5rem 2rem;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    &:hover,
    &:active {
      background-color: lighten($clr-dark-blue, 10%);
    }
  }
}
