.btn {
  &--solid {
    &:link,
    &:visited {
      @include linkReset;
      color: $clr-white;
      background-color: $clr-dark-blue;
      transition: background-color 0.3s ease;
    }

    &:hover,
    &:active {
      background-color: lighten($clr-dark-blue, 10%);
    }
  }

  &--link {
    &:link,
    &:visited {
      @include linkReset;
      color: $clr-grey;
      transition: all 0.3s ease;
    }

    &:hover,
    &:active {
      color: $clr-white;
      background-color: $clr-dark-blue;
    }
  }
}
