.form {
  &__label {
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__group {
    padding: 0.5rem;
    box-shadow: 0 0 0 1px $clr-grey;
    border-radius: 6px;

    &:has(.form__input:focus) {
      box-shadow: 0 0 0 1px $clr-blue;
    }
  }

  &__input {
    font-family: inherit;
    padding: 0 1rem;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
