.header {
  padding: 4rem 2rem;
  background-image: linear-gradient(to right, $clr-white 50%, $clr-cyan 50%);

  &__branding {
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
