.navigation {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__link {
    &:link,
    &:visited {
      @include navigationLinkBase;
    }

    &:hover,
    &:active {
      @include navigationLinkHover;
    }

    &--active {
      &:link,
      &:visited {
        font-weight: 600;
        color: $clr-dark-blue;
      }
    }
  }
}
