.navigation {
  display: flex;
  align-items: center;
  padding: 4rem 0 2rem 0;

  &__brand {
    &:link,
    &:visited {
      font-size: 2rem;
      font-weight: 700;
      color: $dark-black;
      text-decoration: none;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: lighten($dark-black, 10%);
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }

  &__link:link,
  &__link:visited {
    color: $dark-black;
    text-decoration: none;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
  }

  &__link:hover,
  &__link:active {
    border-bottom: 2px solid currentColor;
  }

  &__cta {
    display: flex;
    gap: 1rem;
    margin-left: auto;
  }
}
