.hero {
  padding: 2rem 2rem 4rem 2rem;
  background-color: $clr-light-yellow;

  &__text-box {
    padding-top: 8.4rem;

    @media screen and (max-width: $bp-large) {
      padding-top: 0;
    }

    @media screen and (max-width: $bp-tablet) {
      order: 2;
    }
  }

  &__ctas {
    display: flex;
    gap: 1rem;
    margin-bottom: 3.2rem;
  }

  &__users {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;

    &__img {
      &:not(:first-child) {
        margin-left: -2rem;
      }
    }
  }

  &__img-box {
    justify-self: end;

    @media screen and (max-width: $bp-tablet) {
      order: 1;
    }
  }

  &__image {
    height: 85%;

    @media screen and (max-width: $bp-tablet) {
      height: 100%;
    }
  }
}

.features {
  padding: 8.4rem 2rem 6rem 2rem;

  @media screen and (max-width: $bp-tablet) {
    padding: 6.4rem 2rem;
  }
}

.testimonials {
  padding: 6rem 2rem;
  background-color: $clr-blue-light;
}

.pricing {
  padding: 6rem 2rem;
}
