.btn {
  &--solid {
    display: flex;
    justify-content: center;
    gap: 1rem;

    &:link,
    &:visited {
      @include buttonDefault;
      color: $clr-white;
      background-color: $clr-twitter;
      transition: background-color 0.3s ease;
    }

    &:hover,
    &:active {
      background-color: darken($clr-twitter, 10%);
    }
  }

  &--link {
    &:link,
    &:visited {
      @include buttonDefault;
      color: $clr-blue-green;
      transition: box-shadow 0.3s ease;
    }

    &:hover,
    &:active {
      box-shadow: 0 0 0 2px inset $clr-blue-green;
    }
  }

  &--mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    display: none;

    @media screen and (max-width: $bp-medium) {
      display: block;
    }
  }
}
