.header {
  background-color: $clr-light-yellow;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0 2rem 0;
  }

  &__logo {
    &:link,
    &:visited,
    &:hover,
    &:active {
      font-weight: 700;
      font-size: 2rem;
      font-style: italic;
      color: $clr-blue;
      text-decoration: none;
    }
  }
}
