.navigation {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    transition: all 0.3s ease;

    @media screen and (max-width: $bp-medium) {
      flex-direction: column;
      justify-content: center;
      background-color: rgba($clr-white, 0.8);
      backdrop-filter: blur(5px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;

      opacity: 0;
      pointer-events: none;
      transform: translateX(100%);
      visibility: hidden;
    }
  }

  &__open .navigation__list {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%);
    visibility: visible;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $clr-grey;
      position: relative;
      transition: color 0.3s ease;
    }

    &:hover,
    &:active {
      color: $clr-blue;
    }

    &::after {
      content: "";
      opacity: 0;
      height: 0.6rem;
      width: 0.6rem;
      background-color: $clr-blue;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 2.4rem;
      transform: translateX(-50%);
      transition: opacity 0.3s ease;
    }

    &:hover.navigation__link::after {
      opacity: 1;
    }
  }
}
