*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 50em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 34.375em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.8rem; }

.article__title:link, .article__title:visited {
  text-decoration: none;
  color: #000000;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
  display: inline-block;
  transition: color 0.3s; }

.article__title:hover, .article__title:active {
  color: #ee7c0d; }

.article__description {
  color: #656565;
  line-height: 1.6; }

.article__author {
  font-size: 1.4rem; }
  .article__author__name {
    font-weight: 700; }
  .article__author__role {
    color: #656565; }

.u-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem; }

.u-margin-bottom-sm {
  margin-bottom: 1.6rem; }

.u-margin-bottom-md {
  margin-bottom: 2.4rem; }

.article--main {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 6.4rem;
  margin-bottom: 9.6rem; }
  @media screen and (max-width: 50em) {
    .article--main {
      grid-template-columns: 1fr;
      gap: 2.4rem;
      margin-bottom: 3.2rem; } }

.article--sub {
  cursor: pointer;
  transition: transform 0.3s; }
  .article--sub:hover {
    transform: translateY(-5px); }

.article__author {
  display: flex;
  gap: 2.4rem;
  align-items: center; }
  .article__author__avatar {
    height: 6.4rem;
    width: 6.4rem; }

.article__img-container {
  cursor: pointer;
  overflow: hidden;
  border-radius: 7px; }
  .article__img-container:hover .article__img {
    scale: 1.1; }

.article__img {
  display: block;
  width: 100%;
  overflow: hidden;
  transition: scale 0.3s; }
  .article__img--sub {
    margin-bottom: 3.2rem; }
    @media screen and (max-width: 50em) {
      .article__img--sub {
        margin-bottom: 2.4rem; } }
  .article__img--main {
    margin-bottom: 0; }

.navigation__cta:link, .navigation__cta:visited {
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  background-color: #ee7c0d;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  transition: background-color 0.3s; }

.navigation__cta:hover, .navigation__cta:active {
  background-color: #d66f0c; }

.btn-mobile {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 34.375em) {
    .btn-mobile {
      display: block; } }

.footer {
  padding: 4rem 0; }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 34.375em) {
      .footer__container {
        flex-direction: column;
        align-items: start;
        gap: 2.4rem; } }
  .footer__logo {
    display: block; }
  .footer__copyright {
    color: #656565; }

.navigation {
  padding: 4rem 0; }
  .navigation__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navigation__logo {
    display: block; }
  .navigation__ctas {
    display: flex;
    align-items: center;
    gap: 2.4rem; }
    @media screen and (max-width: 34.375em) {
      .navigation__ctas {
        display: none; } }
  .navigation__list {
    list-style: none;
    display: flex;
    gap: 2.4rem; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #656565;
    transition: color 0.3s; }
  .navigation__link:hover, .navigation__link:active {
    color: #ee7c0d; }

.grid {
  display: grid; }

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem; }
  @media screen and (max-width: 50em) {
    .grid-3-cols {
      grid-template-columns: 1fr; } }

.section-blog {
  padding: 6rem 0; }
  @media screen and (max-width: 50em) {
    .section-blog {
      padding: 0; } }
