.btn {
  font-weight: 700;
  font-size: inherit;
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &--solid {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: lighten($primary, 5%);
    }
  }
}
