.section-hero {
  background-color: $gray;
  padding: 2rem 0 4rem 0;

  &__list {
    font-weight: 600;
    color: $brown;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &-item {
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }
  }
}

.section-partners {
  padding: 4rem 0;
}

.section-secure {
  &__content {
    padding: 4rem 4rem 0 8rem;
    background-color: $gray;
    border-radius: 8px;
  }
}

.section-editor {
  padding: 6rem 0;
}

.img-box {
  &__img {
    display: block;

    &--hero {
      width: 80%;
      @media screen and (max-width: $bp-large) {
        width: 100%;
      }
    }
  }
}
