.section-hero {
  background-color: $gray;
  padding: 2rem 0 4rem 0;

  &__list {
    font-weight: 600;
    color: $brown;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    &-item {
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }
  }
}

.section-partners {
  padding: 4rem 0;

  &__images {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2.4rem;
  }

  &__img {
    width: 100%;
    height: auto;
  }
}

.section-secure {
  &__container {
    padding: 4rem 4rem 0 8rem;
    background-color: $gray;
    border-radius: 8px;
  }
}

.section-editor {
  padding: 6rem 0;
}

.img-box {
  &__img {
    width: 100%;
  }
}
