.form {
  &__input-group {
    display: flex;
    gap: 1rem;
  }

  &__input {
    font-family: inherit;
    width: 100%;
    background-color: $off-white;
    border: 1px solid $light-gray;
    border-radius: 4px;
    padding: 1rem 2rem;

    &:focus {
      border: 1px solid transparent;
      outline: 1px solid $primary;
    }
  }

  &__description {
    display: block;
    text-align: left;
    color: $medium-gray;
  }
}
