*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 50em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem; }

.heading {
  font-weight: 600;
  color: #000000; }
  .heading--primary {
    font-size: 6.4rem;
    line-height: 1; }
    @media screen and (max-width: 50em) {
      .heading--primary {
        font-size: 5.2rem; } }
  .heading--secondary {
    font-size: 4.4rem;
    line-height: 1.2; }
    @media screen and (max-width: 50em) {
      .heading--secondary {
        font-size: 3.6rem; } }

.paragraph span {
  color: #664efc;
  font-weight: 600; }

.paragraph--light {
  color: #6b6b6b; }

.paragraph--dark {
  color: #000000; }
  .paragraph--dark span {
    color: inherit; }

.u-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem; }

.u-margin-bottom-xs {
  margin-bottom: 1rem; }

.u-margin-bottom-sm {
  margin-bottom: 1.6rem; }

.u-margin-bottom-md {
  margin-bottom: 2.4rem; }

.u-margin-bottom-lg {
  margin-bottom: 3.2rem; }

.u-prevent-scroll {
  overflow-y: hidden; }

.btn--solid {
  font-family: inherit;
  font-weight: 600;
  font-size: inherit;
  color: #f9f0fd;
  width: 100%;
  background-color: #664efc;
  border: none;
  padding: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn--solid:link, .btn--solid:visited {
    display: inline-block;
    text-decoration: none;
    color: #f9f0fd;
    background-color: #664efc;
    padding: 1.5rem 2rem;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: auto; }
  .btn--solid:hover, .btn--solid:active {
    background-color: #7c67fc; }
  .btn--solid span {
    font-weight: 600;
    color: #ffffff; }

.btn--mobile {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 2; }
  @media screen and (max-width: 31.25em) {
    .btn--mobile {
      display: block; } }

.form {
  background-color: #ffffff;
  padding: 4rem;
  border-radius: 8px; }
  .form__title {
    font-size: 2.4rem;
    font-weight: 600; }
  .form__input-group--flexed {
    display: flex;
    align-items: start;
    gap: 1.2rem; }
    .form__input-group--flexed .form__label {
      font-weight: normal; }
  .form__label {
    display: block;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0.5rem; }
  .form__input {
    width: 100%;
    padding: 1.5rem;
    font-family: inherit;
    border: 1px solid #bdbcbc;
    border-radius: 4px; }
    .form__input:focus {
      outline: none;
      border: 1px solid #664efc; }
  .form__link:link, .form__link:visited {
    color: #664efc;
    font-weight: 600;
    transition: color 0.3s; }
  .form__link:hover, .form__link:active {
    color: #7c67fc; }

.footer {
  padding: 6rem 0;
  background-color: #fdfcf9;
  color: #201f1f; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    gap: 4.8rem; }
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
  .footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__title {
    margin-bottom: 1rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #6b6b6b;
    transition: color 0.3s; }
  .footer__link:hover, .footer__link:active {
    color: #664efc; }

.grid {
  display: grid; }

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.4rem; }
  @media screen and (max-width: 31.25em) {
    .grid-2-cols {
      grid-template-columns: 1fr; } }
  .grid-2-cols--hero {
    gap: 0; }
    @media screen and (max-width: 50em) {
      .grid-2-cols--hero {
        grid-template-columns: 1fr;
        gap: 2.4rem; } }

.grid-gap-lg {
  gap: 12rem; }
  @media screen and (max-width: 50em) {
    .grid-gap-lg {
      gap: 2.4rem; } }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0; }
  .navigation__ctas, .navigation__list {
    display: flex;
    gap: 1.6rem; }
    @media screen and (max-width: 31.25em) {
      .navigation__ctas, .navigation__list {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .navigation__ctas {
    align-items: center; }
    @media screen and (max-width: 31.25em) {
      .navigation__ctas {
        display: none;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        position: absolute;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 1; } }
  .navigation__list {
    list-style: none; }
  .navigation__link:link, .navigation__link:visited {
    color: #201f1f;
    text-decoration: none;
    transition: color 0.3s; }
  .navigation__link:hover, .navigation__link:active {
    color: #664efc; }
  .navigation__link--flexed {
    display: flex;
    align-items: center;
    gap: 1.2rem; }
    .navigation__link--flexed span {
      display: block; }
  .navigation__icon {
    border: 1px solid #bdbcbc;
    background-color: #f9f0fd;
    border-radius: 4px;
    padding: 0.5rem 1rem; }

.active .navigation__ctas {
  display: flex;
  opacity: 1; }

.section-hero {
  background: #fdfcf9; }

.hero-content {
  padding: 4rem 0 16rem 0; }
  @media screen and (max-width: 50em) {
    .hero-content {
      padding: 2rem 0 12rem 0; } }

@media screen and (max-width: 50em) {
  .text-box--hero {
    order: 2; } }

@media screen and (max-width: 50em) {
  .img-box--hero {
    order: 1;
    width: 60%;
    margin: 0 auto; } }

@media screen and (max-width: 31.25em) {
  .img-box--hero {
    width: 100%; } }

.img-box img {
  width: 100%;
  display: block; }
  @media screen and (max-width: 31.25em) {
    .img-box img {
      width: 60%;
      margin: 0 auto; } }

.section-curate {
  padding: 10rem 0; }
  @media screen and (max-width: 50em) {
    .section-curate {
      padding: 8rem 0; } }

.curate__header {
  margin-bottom: 10rem; }
  .curate__header .img-box {
    max-width: 35rem;
    justify-self: end; }
    @media screen and (max-width: 31.25em) {
      .curate__header .img-box {
        order: 1;
        max-width: none; } }
    @media screen and (max-width: 31.25em) {
      .curate__header .img-box img {
        width: 100%; } }
  @media screen and (max-width: 31.25em) {
    .curate__header .text-box {
      order: 2; } }

.cta:link, .cta:visited {
  color: #664efc;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 0.5rem;
  transition: all 0.3s;
  border-bottom: 2px solid transparent; }

.cta:hover, .cta:active {
  border-bottom: 2px solid currentColor; }

.section-signup {
  min-height: 100vh;
  background-color: #f8ecf9; }

.signup__contents {
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }

.signup__content {
  display: flex;
  align-items: start;
  gap: 1rem; }
