html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-tablet) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
}

.heading {
  font-weight: 600;
  color: $clr-black;

  &--primary {
    font-size: 6.4rem;
    line-height: 1;

    @media screen and (max-width: $bp-tablet) {
      font-size: 5.2rem;
    }
  }

  &--secondary {
    font-size: 4.4rem;
    line-height: 1.2;

    @media screen and (max-width: $bp-tablet) {
      font-size: 3.6rem;
    }
  }
}

.paragraph {
  & span {
    color: $clr-primary;
    font-weight: 600;
  }
  &--light {
    color: $clr-medium-gray;
  }

  &--dark {
    color: $clr-black;

    & span {
      color: inherit;
    }
  }
}
