*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  background-color: $clr-white;
  overflow-x: hidden;
}

main,
header,
footer {
  padding-inline: 2rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}
