html {
  font-size: 62.5%;

  @media screen and (max-width: $bp-tablet) {
    font-size: 56.25%;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 50%;
  }
}

body {
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $clr-black;
}

.heading {
  font-weight: 700;

  &--primary {
    line-height: 1;
    font-size: 3.6rem;
  }
}
