// COLORS
$primary: #2355f2;

$white: #ffffff;
$off-white: #f5f7fa;

$black: #000000;

$gray: #636363;
$medium-gray: #b1b1b1;
$light-gray: #e6e8f0;

// BREAKPOINTS
$bp-tablet: 50em;
$bp-mobile: 25em;
