// COLORS

$clr-primary: #372865;
$clr-primary-light: #ccc1e6;
$clr-primary-dark: #4d4b67;

$clr-light-blue: #f6f9fe;

$clr-white: #ffffff;
$clr-gray: #545454;
$clr-light-gray: #b5b6b7;

// BREAKPOINTS
$bp-large: 56.25em; // 900px
$bp-tablet: 50em; // 800px
$bp-small: 31.25em; // 500px
