@mixin linkReset {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 4px;
}

@mixin navigationLinkBase {
  color: $clr-grey;
  text-decoration: none;
  padding-bottom: 0.5rem;
  background-image: linear-gradient(to right, $clr-dark-blue, $clr-dark-blue);
  background-repeat: no-repeat;
  background-size: 0 0;
  background-position: bottom center;
  transition: all 0.3s ease;
}

@mixin navigationLinkHover {
  color: $clr-dark-blue;
  background-size: 50% 2px;
}
