html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

.heading {
  font-weight: 700;

  &--primary {
    font-size: 6.4rem;
    color: $medium-black;

    @media only screen and (max-width: $bp-large) {
      font-size: 4.8rem;
    }
  }

  &--secondary {
    font-size: 3.2rem;
  }
}

.paragraph {
  line-height: 1.4;

  &--light {
    color: $white;
    font-weight: 600;

    & span {
      text-decoration: underline;
    }
  }

  &--dark {
    color: $brown;
  }
}
