// COLORS
$clr-black: #000000;
$clr-white: #ffffff;
$clr-off-white: #f9f6f1;
$clr-gray: #4d4d4d;
$clr-gray-medium: #b0b0b0;
$clr-gray-light: #f7f7f7;
$clr-blue: #76a6bc;

// BREAKPOINTS
$bp-tablet: 46.875em;
$bp-mobile: 28.125em;
