html {
  font-size: 62.5%;

  @media screen and(max-width: $bp-large) {
    font-size: 56.25%;
  }

  @media screen and(max-width: $bp-small) {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
}

.heading-primary {
  font-size: 5.6rem;
  color: $clr-primary-dark;
  line-height: 1.2;

  @media screen and(max-width: $bp-small) {
    font-size: 4.8rem;
  }
}

.paragraph {
  color: $clr-gray;
  line-height: 1.4;
}
