.u-container {
  max-width: 120rem;
  margin: 0 auto;

  @media screen and(max-width: $bp-large) {
    max-width: 60rem;
  }
}

.u-margin-bottom-sm {
  margin-bottom: 1.2rem;
}

.u-margin-bottom-md {
  margin-bottom: 1.6rem;
}
