.hero {
  padding: 4rem 2rem 16rem 2rem;
  background-image: linear-gradient(to right, $clr-white 50%, $clr-cyan 50%);

  @media screen and (max-width: $bp-large) {
    padding: 4rem 2rem 7.2rem 2rem;
  }

  @media screen and (max-width: $bp-tablet) {
    background-image: none;
    padding: 0;
  }

  &__ctas {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.4rem;

    @media screen and (max-width: $bp-large) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media screen and (max-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__message {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    @media screen and (max-width: $bp-large) {
      align-items: flex-start;
    }
  }

  &__link {
    &:link,
    &:visited {
      font-weight: 600;
      color: $clr-grey;
      text-underline-offset: 0.4rem;
      transition: color 0.3s ease;
    }

    &:hover,
    &:active {
      color: $clr-cyan;
    }
  }

  &__text-box {
    padding: 0 2rem;
  }

  &__img-box {
    @media screen and (max-width: $bp-tablet) {
      background: $clr-cyan;
      padding: 6.4rem 2rem;
    }
  }
}

.influential {
  padding: 8.4rem 2rem;

  @media screen and (max-width: $bp-large) {
    padding: 8.4rem 2rem 4rem 2rem;
  }

  &__content-box,
  &__text-box {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__content-box {
    @media screen and (max-width: $bp-large) {
      flex-direction: row;
      align-items: flex-start;
    }

    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
    }
  }

  &__users {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__img {
    height: 4rem;
    transition: transform 0.3s ease;

    &:hover {
      transform: rotate(25deg) scale(1.2);
    }
  }
}

.features {
  padding: 8.4rem 2rem;
  background-color: $clr-light-blue;

  @media screen and (max-width: $bp-large) {
    padding: 4rem 2rem;
  }
}
