.pricing {
  padding: 6rem 2rem;

  @media screen and (max-width: $bp-medium) {
    padding: 3rem 2rem;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }

  &__label {
    color: $clr-grey;
    &--active {
      font-weight: 700;
    }
  }

  &__container {
    & > :last-child {
      @media screen and (max-width: $bp-large) {
        grid-column: 1 / -1;
      }
    }
  }
}
